.comp_logo {
    height: 40px;
    width: 40px;
}

.comp_name {
    color: rgb(8, 8, 181);
    font-weight: 600;
}

.bg_banner {
    width: 100%;
}

#container {
    height: 100%;
}

#footer {
    padding: 20px;
    background-color: black;
    text-align: center;
    color: white;
    margin-bottom: 5px;
}
