body {
    background-color: mintcream;
}
.hr_divider {
    border: 3px solid blue;
    width: 10%;
    margin: 15px auto 5px;
}

.comp_logo {
    height: 40px;
    width: 40px;
}

.comp_logo1 {
    height: 100px;
    width: 100px;
}
.comp_name {
    color: rgb(8, 8, 181);
    font-weight: 600;
}

.bg_banner {
    background: url("/images/pg-banner.jpg") no-repeat fixed;
    width: 100%;
    height: 80vh;
    background-size: cover;
    padding: 12rem 0 0 2rem;
}

.banner_header {
    color: blue;
    font-weight: 700;
    font-size: 3rem;
}

.banner_text {
    font-size: 2rem;
    font-style: italic;
}

@media screen and (max-width: 576px) {
    .bg_banner {
        padding-top: 8rem;
    }
    .banner_header {
        font-size: 2rem;
    }
}

.bg__black {
    background-color: black;
    color: white;
}

.bg__secondary {
    background-color: turquoise;
}

#container {
    height: 100%;
}

.article {
    padding: 20px;
    text-transform: uppercase;
    text-align: center;
}

.article_bg {
    background-color: turquoise;
}

.article_secondary {
    background-color: black;
    color: white;
    opacity: 0.8;
}

.card {
    height: 100%;
}

.card-title {
    color: blue;
}

.card,
.card > img {
    border-radius: 0;
}

.card-text {
    text-align: justify;
}
.link_arrow::after {
    content: "-->";
    margin-left: 2px;
    transition: margin 0.2s;
}

.link_arrow:hover::after {
    margin-left: 6px;
}

.card:hover {
    border: 3px solid blue;
    transition: border 0.1s;
}

.comp_service {
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    color: blue;
}
.nav-item a {
    font-size: 1.5rem;
}
.nav-item a:hover {
    border-bottom: 3px solid blue;
    color: blue;
}

@media screen and (max-width: 768px) {
    .nav-item a {
        font-size: 1.2rem;
    }

    .nav-item a:hover {
        border-bottom: 0;
    }
}

.banner_container {
    padding: 30px 80px;
    color: white;
    font-weight: 800;
    background-image: url(/images/banner.jpg);
}

.comp_container {
    padding: 2rem 0;
    font-size: 1.8rem;
    font-weight: 700;
    display: flex;
    justify-content: center;
}

.comp_name_footer {
    margin-left: 10px;
    padding-top: 25px;
}

.border_divider {
    border-right: 3px solid white;
    margin: 10px 0;
    height: 80%;
}

.p_footer {
    font-size: 1.1rem;
    vertical-align: middle;
}

@media screen and (max-width: 768px) {
    .comp_container {
        font-size: 1.5rem;
        font-weight: 600;
    }

    .border_divider {
        border-right: 0;
        border-bottom: 3px solid white;
        margin: 0 25px 15px;
    }
}

@media screen and (max-width: 1024px) {
    .comp_name_footer {
        padding-top: 5px;
    }
}

.ul_footer {
    list-style-type: none;
}

.ul_footer li a {
    font-size: 1.1rem;
    color: white;
    text-decoration: none;
}

.footer {
    background-color: turquoise;
    text-align: center;
    color: white;
    padding-top: 10px;
}
