body {
    background-color: lightgray;
}
hr {
    border: 3px solid blue;
    width: 10%;
    margin: 15px auto 5px;
}

.comp_logo {
    height: 40px;
    width: 40px;
}

.comp_name {
    color: rgb(8, 8, 181);
    font-weight: 600;
}

.bg_banner {
    width: 100%;
    height: 80vh;
    object-fit: cover;
}

#container {
    height: 100%;
}

.article {
    padding: 20px;
    text-transform: uppercase;
    text-align: center;
}

.article_bg {
    background-color: turquoise;
}

.article_secondary {
    background-color: black;
    color: white;
    opacity: 0.8;
}

.card {
    height: 100%;
}

.card,
.card > img {
    border-radius: 0;
}

.card:hover {
    border: 3px solid blue;
    transition: border 0.1s;
}

.comp_service {
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    color: blue;
}
.nav-item a {
    font-size: 1.5rem;
}
.nav-item a:hover {
    border-bottom: 3px solid blue;
}

@media screen and (max-width: 768px) {
    .nav-item a {
        font-size: 1.2rem;
    }

    .nav-item a:hover {
        border-bottom: 0;
    }
}

.banner_container {
    padding: 20px;
    text-align: center;
    background-image: url(/images/banner.jpg);
    opacity: 0.8;
}

#footer {
    padding: 20px;
    background-color: black;
    text-align: center;
    color: white;
    margin-bottom: 5px;
}
